body{
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 10px;
}

.weather-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weather-alerts{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
